# https://editorconfig.org/

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.{yml,yaml}]
indent_style = space
indent_size = 2
max_line_length = 150

[*.{tf,tfvars}]
indent_style = space
indent_size = 2
max_line_length = 150

[*.sh]
indent_style = space
indent_size = 2
max_line_length = 150

[*.hcl]
indent_style = space
indent_size = 2
max_line_length = 150

[*.json]
indent_style = space
indent_size = 2
max_line_length = 150
insert_final_newline = ignore

[*.md]
indent_style = space
indent_size = 2
max_line_length = 150
